.list-group-item {
    width: 250px;
    border: 1px solid black;
    text-align: center;
 }
 .list-group-item p {
     text-align: center;
 }
 
 a:hover {
     background-color:#5bc0de;
 }

 .zoom {
    transition: transform .5s;
 }

 .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    z-index: 1;
 }
